---
import Id from "../pages/projects/[id].astro";

const proyects = [
  {
    id: "iberia",
    title: "Viajeros del mundo",
    subtitle: "Iberia",
    description: "Descripción del proyecto 1",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/1.jpeg",
  },
  {
    id: "moeve",
    title: "Gen Moeve",
    subtitle: "Moeve",
    description: "Descripción del proyecto 2",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/2.jpeg",
  },
  {
    id: "papajhons",
    title: "Dame una pizta, papá",
    subtitle: "Papa Jhons",
    description: "Descripción del proyecto 3",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/3.jpeg",
  },
  {
    id: "setmestre",
    title: "Set Mestre",
    subtitle: "Teka",
    description: "Descripción del proyecto 3",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/3.jpeg",
  },
  {
    id: "proyecto-5",
    title: "Proyecto-5",
    subtitle: "Proyecto-5",
    description: "Descripción del proyecto 3",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/3.jpeg",
  },
  {
    id: "proyecto-6",
    title: "Proyecto-6",
    description: "Descripción del proyecto 3",
    imageUrl: "/fotos/proyectos/proyectos_foto_prueba.jpeg",
    link: "/fotos/portada/3.jpeg",
  },
];
---

<style>
  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Bold.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-Light";
    src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Light.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .proyectos {
    background-color: white;
    margin: 50px 10px 150px 10px;
    
  }

  .proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 10px;
  }

  .proyecto-card {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
  }

  .proyecto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.8); /* fondo semitransparente */
    transition: opacity 0.3s ease; /* animación suave */
    border-radius: 5px;
  }

  .proyecto-card:hover .overlay {
    opacity: 1; /* aparece al hacer hover */
    cursptor: pointer;
  }

  .overlay .title {
    font-family: "BricolageGrotesque", sans-serif;
    font-size: 1.8rem;
    color: white;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 16px 11px 0 11px;
    line-height: 0.8;
  }

  .overlay .subTitle {
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    letter-spacing: -1px;
    margin: 11px;
    line-height: 0;
  }

  .proyectos h2 {
    font-family: "BricolageGrotesque", sans-serif;
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    color: red;
    letter-spacing: -3px;
    font-weight: bold;
    opacity: 1;
  }

</style>

<section class="proyectos">
  <h2>Proyectos</h2>
  <div class="proyectos-grid">
    {
      proyects.map((proyecto) => (
        <article class="proyecto-card">
          <a href={`projects/${proyecto.id}`}>
            <img src={proyecto.imageUrl} alt={`Imagen de ${proyecto.title}`} />
            <div class="overlay">
              <p class="title">{proyecto.title}</p>
              <p class="subTitle">{proyecto.subtitle}</p>
            </div>
          </a>
        </article>
      ))
    }
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const h2 = document.querySelector(".proyectos h2");

    if (h2) {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              h2.classList.add("visible");
              observer.unobserve(h2); // opcional: solo una vez
            }
          });
        },
        { threshold: 0.3 } // activa cuando un 30% del elemento esté visible
      );

      observer.observe(h2);
    }
  });
</script>
