---
import { projects } from "../../data/proyects";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const {
  id,
  titulo_detalle,
  images,
  video_concept,
  description,
  subTitulos,
  poster,
  poster2,
  creditos,
} = project;

const index = projects.findIndex((p) => p.id === id);
const prevProject = projects[index - 1] ?? null;
const nextProject = projects[index + 1] ?? null;
---

<style>
  section {
    max-width: 100dvw;
    overflow: hidden;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .info {
    color: red;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 100px;
  }

  nav {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease;
  }

  nav a {
    text-decoration: none;
    font-family: "BricolageGrotesque", sans-serif;
    color: red;
    font-size: 24px;
  }

  .subtitle {
    line-height: 0.6;
    font-weight: 100;
  }

  .subtitle p {
    font-size: 16px;
  }

  .previus,
  .next {
    font-weight: bold;
  }

  .info-section {
    display: flex;
    font-family: Helvetica, sans-serif;
    gap: 100px;
    width: 100%;
  }

  .titulo {
    width: 100%;
  }

  .titulo h1 {
    margin: 0;
    font-family: "BricolageGrotesque", sans-serif;
    font-size: 3rem;
  }

  .descripcion {
    width: 80%;
  }

  .descripcion p {
    margin-top: 10px;
    font-weight: 100;
    text-align: justify;
  }

  .video-section video,
  .image-gallery img {
    width: 100%;
    max-width: 1000px; /* ajusta el tamaño máximo según tu gusto */
    /*aspect-ratio: 16 / 9;  mantiene proporciones consistentes */
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
  }

  .video-section,
  .image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
    gap: 20px;
  }

  .video-section:last-child {
    margin-bottom: 60px;
  }

  .image-gallery {
    padding-bottom: 60px;
  }

  video {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
  }

  @media (max-width: 1066px) {
    .info-section {
      flex-direction: column;
      gap: 20px;
    }
  }

  .creditos {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    /* margin-top: 20px; */
    /* line-height: 0.6; */
    font-weight: 100;
    width: 100%;
    text-align: justify;
  }

  .creditos p {
    margin: 0;
  }

  .badgeds {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap; /* permite que los botones bajen de línea */
    font-family: system-ui, sans-serif;
  }

  .badged {
    position: relative;
    display: inline-block;
    padding: 10px 26px;
    border: 1px solid red;
    border-radius: 999px;
    color: red;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
    transition:
      color 0.25s ease,
      transform 0.25s ease;
  }

  .badged::before {
    content: "";
    position: absolute;
    inset: 0;
    background: red;
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    z-index: 0;
  }

  .badged > span {
    position: relative;
    z-index: 1;
    font-weight: 100;
    white-space: nowrap; /* evita saltos de línea dentro del texto */
  }

  .badged:hover {
    color: #fff;
  }

  .badged:hover::before {
    transform: translateX(0);
  }


</style>


<Layout>
  <section>
    <div class="info">
      <div class="info-section">
        <div class="titulo">
          <h1>{titulo_detalle}</h1>
          <div class="subtitle">
            {subTitulos.map((sub) => <p>{sub}</p>)}
          </div>
        </div>
        <div class="descripcion desc-column">
          <p>{description.map((desc) => <p set:html={desc} />)}</p>
          <!-- <div class="creditos">
            {creditos!.map((cred) => <p set:html={cred} />)}
          </div> -->
          {
            id === "milfshakes" || id === "setmestre" ? (
              <a class="badged" href={"/midupla"}>
                <span>Conoce a la DOBLEP</span>
              </a>
            ) : null
          }
        </div>
      </div>

      {video_concept[0] != null ? (
        <div transition:name={project.id} class="video-section">
          <video controls preload="metadata" playsinline  poster={poster}>
            <source src={video_concept[0]} type="video/mp4" />
            Tu navegador no soporta el video.
          </video>
        </div>
      ) : null}

      <div class="image-gallery">
        {images.map((image) => <img class="proyecto-img" src={image} alt="" />)}
      </div>

      {
        video_concept[1] != null ? (
          <div class="video-section">
            <video controls preload="metadata" playsinline  poster={poster2}>
              <source src={video_concept[1]} type="video/mp4" />
              Tu navegador no soporta el video.
            </video>
          </div>
        ) : null
      }
    </div>

    <nav>
      <span>
        {
          prevProject && (
            <a class="previus" href={`/projects/${prevProject.id}`}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-chevron-compact-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"
                />
              </svg>{" "}
              {prevProject.title}
            </a>
          )
        }
      </span>
      <span>
        {
          nextProject && (
            <a class="next" href={`/projects/${nextProject.id}`}>
              {nextProject.title}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-chevron-compact-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"
                />
              </svg>
            </a>
          )
        }
      </span>
    </nav>
  </section>
</Layout>
